body {
    font-family: 'Roboto Condensed', sans-serif;
  
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card {
    width: 220px !important;
    height: 260px;
    border-style: none;
}
.card-subtitle {
    font-size: 12px;
}
.card-img-top {
    margin: 10px;
    width: 200px;
}
#black{
    font-weight: bold;
    font-size: 12px;
}
#border-bottom {
    font-size: 12px;
    border-bottom: 1px solid gainsboro;
}
.card-body {
    padding-top: 8px;
    padding-bottom: 8px;
}
